%br/
.container-fluid
  .row
    .col-md-9.offset-md-1.mx-auto.pt-0
      .card.p-4{:style => "border-radius:10px; overflow-x: auto;"}
        - if @note.errors.any?
          .text-center.text-danger Content cant't be blank!
        %h5.ms-1.mb-3 Edit Note
        = form_with(model: @note, url: dispute_analysts_case_note_path(@case, id: @note.id)) do |form|
          = form.text_area :content, class: 'form-control'
          = form.hidden_field :case_id, value: @note.case_id
          = form.hidden_field :user_id, value: current_user.id
          %br/
          = link_to 'Back', dispute_analysts_case_path(@case), class: 'btn btn-outline-secondary me-2'
          = form.submit "Submit", class: "btn btn-outline-primary"
