%html
  %head
    :css
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f7;
        color: #333;
        margin: 0;
        padding: 0;
      }
      .email-container {
        background-color: white;
        width: 600px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .logo {
        text-align: center;
        margin-bottom: 20px;
      }
      .logo img {
        width: 100px;
      }
      h1 {
        text-align: center;
        font-size: 28px;
        color: #333;
      }
      h2 {
        font-size: 22px;
        color: #007bff;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #666;
      }
      .cta-button {
        display: block;
        width: 200px;
        margin: 20px auto;
        padding: 10px;
        background-color: #007bff;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
      }
      .footer {
        text-align: center;
        margin-top: 30px;
        font-size: 14px;
        color: #aaa;
      }

  %body
    .email-container
      .logo
        %img{src: 'https://i.postimg.cc/05zCjL03/illuminati.png', alt: 'CaseWise Logo'}

      %h1 Note Updated for Case #{@case.id}

      %p
        The note for the case titled "{@case.title}" has been updated by 
        %strong= @note.user.full_name
        (#{@role.gsub('_', ' ').capitalize})

      %hr
      %h2 Updated Note:
      - @changes.each do |key, value|
        %p
          %strong= key.capitalize
          %br/
          From: #{value[:before]}
          %br/
          To: #{value[:after]}
      %hr

      %p
        You can view the updated case and note details by visiting your dashboard.
      - if @updater == @case.user || @updater == @case.assigned_to
        %a.cta-button{href: "http://localhost:3000/#{@role == 'case_manager' ? 'dispute_analysts' : 'case_managers'}/cases/#{@case.id}"}
          View Case
      - else
        %a.cta-button{href: "http://localhost:3000"}
          Go to Your Dashboard

      .footer
        %p.text-center
          If you have any questions, please reach out to support@casewise.com.
          %br
          Best regards,
          The CaseWise Team
